
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.white {
  color: white;
}

textarea{
  width: 100%;
}  

body {
  background-image: url('medias/bkg.jpg');
  background-size: 20vh;
}
  
.socialstable {
  width: 100%;
  text-align: center;
}

.right {
  text-align: right;
}

.smallpadding {
  padding-left: 10px;
}

.accordionheader {
  background-color: #3a3a3a;
  color: white;
  cursor: pointer;
  padding: 0.8em;
  width: 100%;
  border: none;
  text-align: justify;
  outline: none;
  font-size: 15px;
  margin-top: 0.6em;
  border-radius: 0.5em;
  transition: 0.4s;
}

.accordionheader:hover {
  background-color: #525252;
}

.presentation {
  background-color: #3a3a3a;
  color: white;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: justify;
  font-size: 15px;
  border-radius: 10px;
}

.presentation a{
  color: white;
}

.presentation a:hover{
  color: rgb(255, 187, 187);
}

.scpcont{
    background-color: #252525;
    color: white;
    border-radius: 0.5em;
    padding: 1.5em
}

.buttonsubmit {
  border-radius: 0.5em;
  border: 2px solid white;

  background-color: #111111;
  color: white;

  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin: auto;
  /* set width according to innner content */
  width: fit-content;
  padding: 10px;
}

.greywrap {
  background-color: #3a3a3a;
  color: white;
  padding: 18px;
  width: 100%;
  border: none;
  font-size: 15px;
  border-radius: 10px;
}

.justifytext {
  text-align: justify;
  text-justify: inter-word;
}

/* h2 style in pollwrapper */
.pollwrapper h2 {
  color: white;
}

.pollitem {
  background-color: #252525;
  color: white;
}

/* make the button lighter on hover */
.buttonsubmit:hover {
  background-color: #494949;
  transition: 0.3s;
}

.appbody{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

header a, header a:hover, header a:focus, header a:active {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: rgb(255, 112, 112);
}

.loginButton {
  color: rgb(255, 255, 255) !important;
  border-radius: 5em;
  border : 2px solid white !important;
  background-color: #000000 !important
}

.loginButton:hover {
  background-color: #494949 !important;
  transition: 0.3s;
}